<p id="notice"><%= notice %></p>
<div class="row"> 
	<div class="col-md-3">
		<h3><%= @brand.name %></h3>  
		<div class="thumbnail">
			<%= link_to image_tag(@brand.picture), @brand %>
			<div class="caption">
				<p>Phone  : <%= @brand.phone %></p><br/>
				<p>Email  : <%= @brand.email %></p><br/>
				<p><a href='<%= @brand.website %>' ><%= @brand.website%></a></p><br/>
			</div>
		</div>
		<%= link_to 'Edit', edit_brand_path(@brand) %> |
		<%= link_to 'Back', brands_path %>
	</div>
	<div class="col-md-9">
		<% @brand.roasts.each do |b| %>
			<div class="row" style="background-color:#EFEFFF">
				<div class="col-md-4">
					<%= link_to image_tag(b.picture, class: "thumbnail"), b %>
				</div>
				<div class="col-md-8">
					<h3><%= b.name %></h3>  
					<p>Roast  : <%= b.roast_type %></p><br/>
					<p><%= b.description%></p><br/>
				</div>
			</div>
		<% end %>
	</div>
	<div class="clear"></div>
	
</div>
